{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<h1 class="my-4">Калькулятор</h1>
<form method="POST" action="#"">
  {% csrf_token %}
  {% bootstrap_form form %}
  <input class="btn btn-primary" type="submit" name="submit" value="Рассчитать">
  <input class="btn btn-outline-warning" type="submit" name="reset" value="Очистить">
</form>
<br>

{% if submitbutton == "Рассчитать" %}
{% block form %}{% endblock %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

{% endblock %}
